.password-input-container-r {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-input-container-r input {
    flex: 1;

}

.toggle-password-btn-r {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: #666;
}
